<div class="container-fluid landing">
  <div class="jumbotron text-center bg">
    <h1>SOHO Nails & Spa</h1>
    <h4>OPENING IN KERMAN, CA
      <br/>
      AUGUST 2017</h4>
    <p class="lead">

      Have your nails done right here at home in Kerman.</p>
    <div>
      <a href="" class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a href="" class="btn btn-primary btn-success" [routerLink]="['/login']">Log In</a>
    </div>
  </div>
</div>


<div class="container-fluid bg-2">
  <div class="row">
  <div class="col-md-4 col-sm-8 col-xs-12 h">
  <div class="ht">
    <h3>Mani/Pedis</h3>
    <p>Enjoy a refreshing Pedicure and Manicure after a long day's work.</p>
  </div>
  </div>

  <div class="col-md-4 col-sm-8 col-xs-12 h">
    <div class="ht">
<h3>Artificial Nails</h3>
    <p>If you want beautiful artistic sets of nails, come on in. Our techs will provide you nails with personality.</p>
  </div>
  </div>

  <div class="col-md-4 col-sm-8 col-xs-12 h">
    <div class="ht">
<h3>Waxing</h3>
    <p>We'll help you clean out those unwanted hairs for a clean, refined look that'll make you confident.</p>
  </div>

  </div>

  </div>

</div>

