<div class="jumbotron text-center">
  <h1>SOHO Nails & Spa in Kerman, CA</h1>
  <p class="lead">
    OPENING IN AUGUST 2017 <br/>
    Don't waste your energy on that drive, now you can have your nails done right here at home in Kerman.
  </p>
  <div>
    <a href="" class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a href="" class="btn btn-primary btn-success" [routerLink]="['/login']">Log In</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <h3>Mani/Pedis</h3>
    <p>Enjoy a refreshing Pedicure and Manicure after a long day's work.</p>
  </div>
  <div class="col-md-4">
    <h3>Artificial Nails</h3>
    <p>If you want beautiful artistic sets of nails, come on in. Our techs will provide you nails with personality.</p>
  </div>
  <div class="col-md-4">
    <h3>Waxing</h3>
    <p>We'll help you clean out those unwanted hairs for a clean, refined look that'll make you confident.</p>
  </div>
</div>

<hr>
