<div class="junbotron text-center">
  <h1>SOHO Nails & Spa</h1>
  <p class="lead">
    Get in for Quick, Quality Service for your nails.
  </p>
  <div>
    <a href="" class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a href="" class="btn btn-primary btn-success" [routerLink]="['/login']">Log In</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query data</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, services and more. Local dev server and easy scaffolding</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data.</p>
  </div>
</div>
